@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Lora;
    src: url(../fonts/Lora/Lora-Italic.ttf);
}

.container{
	text-align:center;
	height:50%;
	
}
.mainTitle{
	font-size:56px;
	font-family: Ubuntu;
	color:#084d6e;
	padding:40px;
}
.secondTitle{
	padding:40px;
	margin-left:-150px;
}
.fa-camera-retro{
	color:#28769e;
}
.leftMenu{
	border-right: 1px solid #99ddff;
	height:250px;
	width:160px;
	position:fixed;
	margin: 20px;
	padding-right: 50px;
	font-size: 20px;
	color:#000;
}
.leftMenuLine{
	height:5px;
	width:95%;
	border-top:1px solid #99ddff;
	position:relative;
	padding-bottom:10px;
	opacity:0;

}
.category{
	font-size:25px;
	color:#db5d00;
	cursor:pointer;
}
.mainContainer{
	position:relative;
	margin-left: 260px;
}
/*--------------------BUTTON----------------------------*/
.button{
	border: 3px solid #99ddff;
	position: fixed;
	width: 45px;
	height: 25px;
	text-align: center;
	color: #4c85a2;
	opacity: 0.4;
	border-radius:5px;
	cursor:pointer;
	
	transition: all 0.5s ease; 
    -webkit-transition: all 0.5s ease; 
}
.button:hover{
	background-color:#99ddff;
	color:#fff;
	opacity:1;
}
.btnToBack{
	top:5px;
	right:5px;
}
.btnToTop{
	bottom: 5px;
	right: 5px;
}
/*------------------------------------------------------*/
hr{
	color:#99ddff;
}
.lora{
	font-family: Lora;
	font-size:20px;
}
div>p{
	margin-left:25%;
	text-align:left;
	font-family: Lora;
}
.lightBlue{
	color:#99ddff;
}